.image-container-left {
    width: 500px;
    height: 550px;
    margin: 0 10% 0 20%;
    padding: 10% 0 0 13%;
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding-top: 28px;
    padding-left: 30px;
    background-color: transparent;
    text-align: left;
    font-family: Inter, sans-serif, "Noto Sans SC", "Noto Serif SC", serif;
    font-size: 2rem;
    line-height: 1.5;
    color: rgb(65, 67, 70);
    font-weight: 320;
    z-index: 2;
}


.transparent-icon {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    z-index: 1;
}


.lazy-load-image-background.blur.lazy-load-image-loaded {
    filter: blur(0);
    transition: filter .3s;
}

.image-container-left::after {
    position: absolute;
    content: "";
    width: 60%;
    z-index: 1;
    top: 0;
    left: 12%;
    height: 100%;
    background-size: 18px 18px;
    background-image: radial-gradient(rgba(47, 106, 217, 0.4) 22%, transparent 20%);
    opacity: 0.2;
}
