.background {
  position: relative;
  /* padding: 5%; */
  display: flex;
}

.user_details {
  margin-left: 2%;
}

.menu {
  padding-top: 0.4%;
  margin-left: 7.8%;
  margin-right: 7.8%;
}


.background-image {
  /* width: 80%; */
  height: 12rem;
  object-fit: cover;
  background-image: url('/bio_background.jpg');
  background-size: cover;
  margin-left: 7.8%;
  margin-right: 7.8%;
}

.user-image {
  width: 20%;
  object-fit: cover;
  /*background-image: url('./_component/user_image.jpg');*/
  background-size: cover;
  margin-left: 3%;
}

.user-info {
  margin-left: 2%;
  width: 60%;
  padding-top: 8%;
  display: flex;
  align-items: center;
}

.username {
  color: white;
  margin-left:3%;
  margin-bottom:3%;
  font-size: large;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.edit_button {
  margin-left:9.7%;
  margin-top: -1.6%;
}
